
.testimonial-card {
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(34, 127, 176, 0.1);
    height: 100px; 
  }
  
  .testimonial-card .card-body {
    padding: 10px;
  }
  
  .testimonial-card .card-text {
    font-size: 0.85rem; 
    margin-bottom: 15px;
  }
  
  .testimonial-card .card-title {
    font-size: 0.9rem;  
    margin-top: 5px;
  }
  
  .card-body {
    padding: 12px;
  }
  
  @keyframes popFadeIn {
    0% {
      opacity: 0;
      transform: scale(0.9) translateY(40px);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }
  
  .testimonial-hidden {
    opacity: 0;
    transform: scale(0.9) translateY(40px);
  }
  
  .testimonial-visible {
    animation: popFadeIn 0.6s ease-out forwards;
  }
  
  
  @media (max-width: 767px) {
    .testimonial-card {
      height: auto; 
    }
    .testimonial-card .card-text {
      font-size: 0.8rem;
    }
    .testimonial-card .card-title {
      font-size: 0.85rem;
    }
  }
  