
.fun-fact-section {
  padding: 2rem 0;
}

.fun-fact-text {
  font-size: 1.25rem;
  color: #333;
}

/* Responsive styling for small screens */
@media (max-width: 768px) {
  .fun-fact-text p {
    font-size: 1rem; 
  }

  .zoom-in-slide {
    animation: zoomIn 1s ease-in-out;
  }
}


@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
