/* src/Home.css */

* {
  font-family: 'Montserrat', sans-serif;
}

/* Optionally, set a fallback font in case Montserrat doesn't load */
body {
  font-family: 'Montserrat', sans-serif;
}

body h2{
  color: rgb(148, 148, 23);
}

/* src/App.css */
