.navbar1 .nav-link{
    color: white;
}

.navbar1 .nav-link:hover{
    color: rgb(221, 168, 83)
}
.ndk{
    color: rgb(234, 240, 243);
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
  }
  